{% extends 'base.html.twig' %}

{% block body %}
    {% for categorie in categorie %}
        <li><a href="/quizz/{{ categorie.id }}">{{ categorie.name }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                effacer
            {% endif %}
        </li>
    {% endfor %}

{% endblock %}